body{
    padding: 5%;
}

#frmLogoutUser{
    display: none;
}

form{
    padding: 20px;
}

.button{
    color: white;
    background-color: #0d6efd;
    border: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}